form {
  max-width: 300px;
  padding: 40px 20px;
  md-card-title {

  }
  md-card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    md-input-container {
      input {}
    }
  }
  md-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .space-grow {flex-grow: 1;}
    button {
      background-color: dodgerblue;
      color: white;
      }
  }
}