<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
		<div class="mdl-layout__drawer">
      <img src="assets/logo_simplon_lyon.png">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/daily-checkin"
        routerLinkActive="active">The Daily Check-In</a>
        <a class="mdl-navigation__link" routerLink="/attendance-calendar"
        routerLinkActive="active">Calendar Attendance</a>
        <a class="mdl-navigation__link" routerLink="/attendance-students"
        routerLinkActive="active">Student Attendance</a>
      </nav>
		</div>
	  
	  	<main class="mdl-layout__content">
	    	<div class="page-content">
          <router-outlet></router-outlet>
        </div>
	  	</main>
	
	</div>